/* This stylesheet came from Camrax */

.chapter {
	font-family: "Book Antiqua";
	font-size: large;
	text-align: center;
	color: #FF0000;
	margin-top: 1em;
	margin-bottom: 3em;
}
.picture {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.table {
	font-family: "Book Antiqua";
	font-size: small;
	text-align: center;
}
.contents {
	font-family: "Book Antiqua";
	font-size: medium;
	color: #000000;
	margin-bottom: 3em;
}
.footnote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.TOCleft {
	margin-bottom: 3em;
}
.headings {
	font-family: "Book Antiqua";
	font-size: medium;
	line-height: 2em;
	text-align: left;
	font-weight: bold;
}
.nonheadings {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	line-height: 1.25em;
	text-indent: 5em;
	margin: 0px;
	padding: 0px;
}
