#titlediv
	%h2 The Age of Symbolism

#catbody
	%p For 2,000 years, from the time of Plato in 400 BC until the start of the modern era of empirical science in approximately 1600 AD, the culture of Western Europe was dominated by a single mode of expression: the symbol. The symbol was the universal medium for the approach to God, for the investigation of the natural world, for the interpretation of the Scriptures and for an understanding of and a guide to proper moral conduct. Towards the end of the period, enabled by the invention of printing by movable type, this obsession was translated into a vast literature of symbolism of which some eighty distinct species were identified by contemporary writers and theorists.
  	
    	
	%p This web site is a bibliography of this literature of symbolism. By definition the common characteristic of the entries in the bibliography is that they are wholly or partly symbolic and not merely literal or descriptive: they say one thing but mean another, the underlying meaning is veiled by the apparent meaning, there is a signifier and a signified. Another characteristic of much of this literature is that it consists of collections of short pieces, a format consistent with the principal purpose of indicating a secondary meaning whether such meaning was intended to be mystical, moral or spiritual. The entry on <a href="/apophthegm">apophthegms</a> gives a brief outline of the development of this phenomenon which originated with the rhetorical requirement for student and writers to make collections of Authorities, this practice evolving in turn into a recognized literary undertaking of its own. Obviously there were exceptions to this rule such as the great allegorical epics of the age as well as theatrical performances and festivals.
    	
	%p Some of these literary species can be grouped into categories which indicate their common origin or relationship. Such groups include the species derived from heraldry such as arms, devices, insignia, mottos; those related to jokes including satires, testaments, paradoxes and others; divinations including dreams, prophesies, lotteries and visions; the performing arts including masques, festivals, burlesques and other dramatic writings. It is evident that some of these are not literary material but nevertheless they are included here because they were seen by contemporaries as symbolic species and were either collected into book form with commentaries on their allegorical nature or were included as illustrations in the many contemporary treatises on the nature of the symbol.

	%p For the companion to this website, an introduction to the study of Renaissance symbolic literature in book form, see <a href="">here.</a>

